body,
html {
   
}
.ma{
    height: 100%;
        margin: 0;
        padding: 0;
    
}
.container {
    font-size: 1.5rem;
    height: 100vh;
    padding: 0;
    width: 100%;
    margin: 0;
    display: grid;

    grid-template-columns: 57% auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item1 {
    background-color: #ebecf0;
    display: flex;
    padding: 20px;
    
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.loginCon {



    height: 70vh;
    width: 25vw;

    align-items: center;



}

.form1 {
    display: flex;

    width: 60vw;
    height: 70vh;
    flex-direction: column;
    align-items: center;


}

.form1 input {
    border: 1px solid rgb(143, 143, 143);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 20.5rem;
    box-shadow: 1px 1px black;
    border-radius: 2px;

}
.lia:hover{
    color:#2e8d78;
    text-decoration: none;
    
}
.s{
    color: red;
}

.form1 label {

    margin: 1rem;

}

.form1 button {
    border: none;
    margin: 0.4rem;
    margin-top: 1rem;
    color: rgb(255, 252, 252);
    background-color: #75c9b7;
    ;




}

.l {
    padding: 0.4rem 4.3rem;
}

.g {
    padding: 0.5rem 1.2rem;
}

.item2 {
    background-color: #75c9b7;
    width: 200%;
    margin:0px;

}

a {
    text-decoration: none;
    font-size: 0.7rem;
    color: #75c9b7;
}